<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/1a16842764.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/tailwind.css">
  <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
 
</head>

<body class="flex flex-col min-h-screen bg-gray-900 text-gray-100">

  <!-- Header -->
  <%- include('_header'); %>

  <!-- Main Content -->
  <main class="flex-1">
    <%- body %>
  </main>

  <!-- Footer -->
  <%- include('_footer'); %>

  <%- script %>
</body>

</html>
